@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    overflow: hidden;
}

.menuContainer{
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.elementsOfMenu{
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    width: 550px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: rgb(174, 229, 253);
    box-shadow: 0 0 25px black;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 330px;
}

.elementsOfMenu:hover{
    transform: scale(1.05);
}